//- WARNING: remember to compile this .jade template each time you made a change using:
    jade-amd --from views/templates --to public/js/app/templates
    otherwise your pre-compiled Javascript template in public/js/app/templates won't be up-to-date

div.row-fluid
  div.row-fluid
    div.span4 Instance name
    input#instance-prop-name.span8(type='text', placeholder='Name', value=name)
  //- for each attribute create a row
  each att in attrs
    div.row-fluid
      div.span4 #{att.name}

      //- if attribute type is 'enum', then display items within a <select>
      if att.type == 'enum'
        select.span8(id='instance-prop-'+att.name)
          for item, i in att.value
            option(value=item, selected=(i == att.selected)?'selected':null) #{item}

      //- else display a basic <input type="text">
      else
        input.span8(id='instance-prop-'+att.name, type='text', value=att.value)
